/* #region header  */
#app_header {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.debug #nav_header {

    background-color: green;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* #region utilities */
.bg_primary {
    background-color: #f8f9fa;
}

.bg_header_nav {
    background-color: #ffffff;
}


.bg_search_form {
    background-color: #e5e5e5;
}


.bg_sidebar {
    background-color: #12293e;
}

.bg_header_buttons {
    background-color: #165bba;
}


.col_50 {
    width: 50%;
}

.col_25 {
    width: 25%;
}

.pb_07 {
    padding-bottom: 0.7rem
}

.w_83 {
    width: 83%;
}

/* #endregion utilities */
/* #endregion header  */

/* #region bottom */
#bottom {
    margin-top: 80px;
}

/* #region sidebar */
#sidebar {
    width: 50px;
    position: fixed;
    left: 0;
    top: 80px;
    height: calc(100vh - 80px);
    z-index: 900;
    background-image: url(../img/sidebar-bg.png);
}

.debug #sidebar {

    background-color: blue;
}

/* #endregion sidebar */

/* #region main */

main {
    width: calc(100% - 50px);
    margin-left: 50px
}


/* #region main_left  */

#main_left img {
    width: 30px;
    aspect-ratio: 1;
}

/* #region main_left  */

/* #endregion main */

/* #endregion bottom */

/* #region responsive */


@media screen and (min-width: 992px) {
    .w_lg_50 {
        width: 50% !important;
    }

    .w_lg_67 {
        width: 67%
    }

    #sidebar {
        width: 150px;
    }

    main {
        width: calc(100% - 150px);
        margin-left: 150px
    }

}

/* #enregion responsive */

/* #region hover effects */
tr:not(thead>tr):hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.sidebar_icon:hover {
    background-color: #e5e5e5b4;
    cursor: pointer;
}

#header_buttons .badge:hover {
    cursor: pointer;

}

/* #endregion hover effects */

/* #region animations */

#bell {
    animation: ring 4s .7s ease-in-out infinite;
}


@keyframes ring {
    0% {
        transform: rotate(0);
    }

    1% {
        transform: rotate(30deg);
    }

    3% {
        transform: rotate(-28deg);
    }

    5% {
        transform: rotate(34deg);
    }

    7% {
        transform: rotate(-32deg);
    }

    9% {
        transform: rotate(30deg);
    }

    11% {
        transform: rotate(-28deg);
    }

    13% {
        transform: rotate(26deg);
    }

    15% {
        transform: rotate(-24deg);
    }

    17% {
        transform: rotate(22deg);
    }

    19% {
        transform: rotate(-20deg);
    }

    21% {
        transform: rotate(18deg);
    }

    23% {
        transform: rotate(-16deg);
    }

    25% {
        transform: rotate(14deg);
    }

    27% {
        transform: rotate(-12deg);
    }

    29% {
        transform: rotate(10deg);
    }

    31% {
        transform: rotate(-8deg);
    }

    33% {
        transform: rotate(6deg);
    }

    35% {
        transform: rotate(-4deg);
    }

    37% {
        transform: rotate(2deg);
    }

    39% {
        transform: rotate(-1deg);
    }

    41% {
        transform: rotate(1deg);
    }

    43% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}

/* ovviamento l'ho copiato eh, ma giuro che ho letto per bene come funzionasse */

/* #endregion animations */