


/* #region header  */
#app_header {
    height: 50px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
.debug #nav_header {

    background-color: green;
}


/* #region utilities */
.bg_app_header {
    background-color: #f8f9fa;
}

.bg_header_nav {
    background-color: #ffffff;
}


.bg_search_form {
    background-color: #e5e5e5;
}


.bg_sidebar {
    background-color: #12293e;
}

.bg_top_sidebar {
    background-color: #051e34;
}

.bg_header_buttons {
    background-color: #165bba;
}

/* #endregion utilities */
/* #endregion header  */

/* #region bottom */
#bottom {
    height: calc(100vh - 50px);
}
/* #region sidebar */
#sidebar {
    width: 50px;
}

.debug #sidebar {

    background-color: blue;
}

/* #endregion sidebar */

/* #region main */

main {
    width: calc(100% - 50px);
}
.debug main {
  
    background-color: red;
} 

.debug main .row   {
    height: 100%;
}
.debug #main_left, .debug #main_right {
    background-color: yellow;
}

/* #endregion main */

/* #endregion bottom */


@media screen and (min-width: 992px) {

    #sidebar {
        width: 150px;
    }

    main {
        width:calc(100% - 150px)
    }
    
}