
/* #region header  */
#nav_header {
    height: 50px;
}
.debug #nav_header {

    background-color: green;
}

/* #endregion header  */

/* #region bottom */
#bottom {
    height: calc(100vh - 50px);
}
/* #region sidebar */
#sidebar {
    width: 50px;
}

.debug #sidebar {

    background-color: blue;
}

/* #endregion sidebar */

/* #region main */

main {
    width: calc(100% - 50px);
}
.debug main {
  
    background-color: red;
} 

.debug main .row   {
    height: 100%;
}
.debug #main_left, .debug #main_right {
    background-color: yellow;
}

/* #endregion main */

/* #endregion bottom */


@media screen and (min-width: 768px) {

    #sidebar {
        width: 100px;
    }

    main {
        width:calc(100% - 100px)
    }
    
}